<!DOCTYPE html>
<html>

<head>
    <!-- Tab Title -->
    <title>Bucket Buddiez</title>
    {{!-- For device size --}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Compiled and minified Materialize  JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!-- Custom Styling (in public/assets folder) -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <!-- Add in Page Header here -->
    {{{body}}}
    <!-- Add in Page Footer-->
     <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
    <!-- Link in jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Link in Local JavaScript (for in-browser button clicks) -->
    <script src="/assets/javascript/buttonClicks.js"></script>
</body>

</html>
