<!-- This is the page that the user can use to add countries to their bucket list -->
<!-- Page Title -->


<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Country Teleporter</a>
      <ul id="nav-mobile" class="right ">
        <li><a href="/view/states">Add States</a></li>
        <li><a href="/view/cities">Add Cities</a></li>
        <li><a href="#">View Profile</a></li>
      </ul>
    </div>
  </nav>
<!-- Dynamically Render Country Tiles -->
<main id="tilesContent">
    {{#each countries}}
    <div class="card grey darken-2">
        <div class="card-content white-text">
            <div>{{this.countryName}}</div>
            <div class="imgDiv" style="background-image: url('{{this.countryImageURL}}')"></div>
            <div id="{{this.id}}" class="plusMinusIcon"><a class="btn btn-floating waves-effect waves-light"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
    {{/each}}
</main>

<script type="text/javascript" src="/assets/javascript/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
  $('.plusMinusIcon .btn').click(function () {
    if (this.active) {
      this.removeClass('activeTile');
      this.addClass('darken-1');
      this.removeClass('lighten-2');
      this.find('.plusMinusIcon .btn .material-icons').html('add');
    }
    else {
      this.addClass('activeTile');
      this.removeClass('darken-1');
      this.addClass('lighten-2');
      this.find('.plusMinusIcon .btn .material-icons').html('remove');
    }
  });
</script>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

 {{!-- ================= DELETE ALL THIS TEXT BEFORE U RUN THE SERVER ================= Add jQuery and AJAX to hit the crud-controllers.js routes use click listener for $(".plusMinusIcon"), which pulls out the countryId... Then pass that into AJAX and hit this route: "/add/country/:userId/:countryId" this will pass it into my Update route in the crud-controllers.js file. Once this works, you can copy and paste this code into "addCites.handlebars" and "addStates.handlebars" changing "{{#each countries}}" to "{{#each states}} and "cities" and changing {{this.countryName}} to "stateName" and "cityName" and changing the AJAX call to "/add/state/:userId/:stateId" and "city" since we don't have user authencation yet, just pass in the number 1 or 2 for /:userId IGNORE THE addPlaces.handlebars file, it will get deleted after we merge to master later on --}}
