<!-- This is the page that the user can use to add countries to their bucket list --> 





<!-- Page Title -->
<nav>
  <div class="nav-wrapper grey darken-2">
    <a href="#!" class="brand-logo">Country Teleporter</a>
  </div>
</nav>


<!-- Dynamically Render Country Tiles -->

<main id="tilesContent">
  {{#each countries}}
    <div class="tile card grey darken-2">
      <div class="card-content white-text">
       <div>{{this.countryName}}</div>
        <div class="imgDiv" style="background-image: url('{{this.countryImageURL}}')"></div>
          <div id="{{this.id}}" class="plusMinusIcon"><a class="btn btn-floating waves-effect waves-light"><i class="material-icons">add</i></a>
        </div>


      </div>
    </div>
  {{/each}}
</main>
<script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
<script type="text/javascript">
console.log('ckickers')
  $(document).on('click', '.material-icons', function() {
    console.log($(this))
    var countryId = $(this)[0].attributes[1].value;
    var route = "/add/country/1/" + countryId;
    console.log(countryId);
    // console.log('cklicked')
    $.ajax({
      url: route,
      type: 'GET',
    })
    .done(function(res) {
      var results = res.data;
    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });
  })
</script>


