
    <nav>
      <div class="index-nav-wrapper">
        <a href="/" class="brand-logo">BucketBuddiez</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="/login">
              <i class="fa fa-sign-in" aria-hidden="true"></i>Log In
            </a>
          </li>
          <li>
            <a href="/signup">
              <i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up
            </a>
          </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">

          <li><a href="/login">Log In</a></li>
          <li><a href="/signup">Sign Up</a></li>

        </ul>
      </div>
    </nav>

    <div class="row" id="destinationRow">
      <div class="imgDiv" style="background-image:url(https://image.freepik.com/free-vector/travel-concept-background_23-2147508752.jpg)"></div>
      <div id="overlay"></div>
      <div id="textHolder">
        <div id="mainText">Search. Meet. Travel.</div>
        <div id="separator"></div>
        <div id="subText">Let us help you meet your new travel buddy.</div>
      </div>
    </div>
    <br />
    <!-- <div class="row" id="templateRow">
      <div class="col s12 m12 l12">
        <div class="card blue-grey lighten-5">
          <div class="card-content">
            <h5 class="valign">Placeholder for later</h5>
          </div>
        </div>
      </div>
    </div> -->
  <!-- <footer class="page-footer blue-grey lighten-1">
    <div class="footer-copyright">
      <div class="container">
        © 2016 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">Some link in footer</a>
      </div>
    </div>
  </footer> -->
