
    <nav>
      <div class="index-nav-wrapper">
        <a href="#" class="brand-logo">BucketBuddiez</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="/login">
              <i class="fa fa-sign-in" aria-hidden="true"></i>LOG IN
            </a>
          </li>
          <li>
            <a href="/signup">
              <i class="fa fa-user-plus" aria-hidden="true"></i>SIGN UP
            </a>
          </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">

          <li><a href="/login">LOG IN</a></li>
          <li><a href="/signup">SIGN UP</a></li>

{{!--           {{#if user}}
            <li>
              <form action="user/logout" method="get">
              <input type="hidden">
              <button type="submit">LOGOUT</button>
              </form>
            </li>
          {{else}}
            <li><a href="#">LOG IN</a></li>
            <li><a href="signup.html">SIGN UP</a></li>
          {{/if}} --}}

        </ul>
      </div>
    </nav>

    <div class="row" id="destinationRow">
      <div class="imgDiv" style="background-image:url(https://image.freepik.com/free-vector/travel-concept-background_23-2147508752.jpg)"></div>
      <div id="overlay"></div>
      <div id="textHolder">
        <div id="mainText">Search. Meet. Travel.</div>
        <div id="separator"></div>
        <div id="subText">Let us help you meet your new travel buddy.</div>
      </div>
    </div>
    <br />
    <!-- <div class="row" id="templateRow">
      <div class="col s12 m12 l12">
        <div class="card blue-grey lighten-5">
          <div class="card-content">
            <h5 class="valign">Placeholder for later</h5>
          </div>
        </div>
      </div>
    </div> -->
  <!-- <footer class="page-footer blue-grey lighten-1">
    <div class="footer-copyright">
      <div class="container">
        © 2016 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">Some link in footer</a>
      </div>
    </div>
  </footer> -->

  <script type="text/javascript" src="assets/javascript/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="assets/javascript/materialize.min.js"></script>
  <script type="text/javascript" src="assets/javascript/sample.js"></script>