<!-- <div id="profileHeader" class="card"> -->
<div id="log">
<nav>
    <div id="navlog" class="nav-wrapper">
        <a href="../profile.html" class="brand-logo">Bucket Buddiez</a>
    </div>
</nav>

    <form name="myForm" action="user/signup" onsubmit="return validateForm()" method="post">
        <!-- <div class="row"> -->
        <div class="container" id="mainlogin">
            <h3>Log in </h3>
            <div class="row">
                <div class="row">
                    <div class="input-field col s6">
                        Email:
                        <input id="email" type="email" class="validate" required>
                        <label for="email"></label>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="input-field col s6">
                    Password:
                    <input id="password" type="password" class="validate" required>
                    <label for="password"></label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                </div>
                <input class="btn" type="submit" value="Log in">
            </div>
        </div>
    </form>
    </div>