<!-- This is the page that the user can use to add countries to their bucket list --> 





<!-- Page Title -->
<nav>
  <div class="nav-wrapper blue-grey lighten-1">
    <a href="#!" class="brand-logo">Country Teleporter</a>
  </div>
</nav>


<!-- Dynamically Render Country Tiles -->

<main id="tilesContent">
  {{#each countries}}
    <div class="tile card blue-grey darken-1">
      <div class="card-content white-text">
       
       <div>{{this.countryName}}</div>

        <div class="imgDiv" style="background-image: url('{{this.countryImageURL}}')"></div>
          <div class="plusMinusIcon" data-locationtype="country" data-locationid="{{this.id}}"><a class="btn btn-floating waves-effect waves-light"><i class="material-icons">add</i></a>
        </div>
  

      </div>
        <!-- Modal Trigger -->
        <!-- <a class="waves-effect waves-light btn" href="#modal1">Find Travel Buddy</a> -->
    </div>
  {{/each}}
</main>


<script type="text/javascript" src="/assets/javascript/jquery-3.1.1.min.js"></script>



<!-- Add Location to Bucketlist -->
<script type="text/javascript">
 
  $(document).on('click', '.plusMinusIcon', function() {

    // Get the location type and its Id
    var locationType = $(this).data("locationtype")
    var locationId = $(this).data("locationid")

    // Get the current user's Id (to avoid showing their name in the list later)
    var currentUserId = window.location.pathname;
    currentUserId = currentUserId.split('/');
    currentUserId = parseInt(currentUserId[3]);


    // Query the correct Table in the DB (use window location so it works in heroku and localhost)
    var queryURL = window.location.origin + '/add/' + locationType + '/' + currentUserId + '/' + locationId;

    $.ajax({url: queryURL, method: 'GET'}).done(function(response){
      // Refresh the page after AJAX call is done
      window.location.reload();
    })

  });


</script>