@font-face {
    font-family: 'Circular Std'; /*a name to be used later*/
    src: url(fonts/CircularStd-Book.woff); /*URL to font*/
}

i.fa {
	margin-right: 10px;
	/*font-size: 12pt;*/
}

nav {
	background-color: transparent !important;
	z-index: 10;
}

.index-nav-wrapper {
	padding-left: 5px;
	background-color: transparent;
}

#registerButton {
	width: 100%;
	margin-top: 115px;
}

.imgDiv {
	width: 100%;
	height: 500px;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

#templateRow {
	height: 300px;
	position: relative;
	top: -100px;
}

	#templateRow > .col,
	#templateRow > .col > .card,
	#templateRow > .col > .card > .card-content {
		height: 100%;
	}

#imagesRow {
	margin-top: 40px;;
	position: relative;
	top: -146px;
}

#destinationRow {
	width: 100%;
	height: 500px;
	/*background-color: red;*/
	position: relative;
	top: -64px;
	z-index: -1;
}

#destinationImage,
#overlay,
#textHolder {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
}

#destinationImage {
	background-image: url(travelbackground.jpg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

#overlay {
	width: 100%;
	/*height: 400%;*/
	background-color: rgba(0, 0, 0, 0.3);
}

#mainText,
#subText {
	position: relative;
	top: 40%;
	left: 10%;
	height: 50px;
	line-height: 50px;
	/*font-family: "Circular Std",sans-serif;*/
}

#mainText {
	font-size: 30pt;
}

#separator {
	position: relative;
	top: calc(40% + 10px);
	left: 10%;
	width: 90%;
	height: 1px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#subText {
	top: calc(40% + 10px);
	font-size: 12pt;
}
