#mainlogin {
  height: 500px;
  width: 350px;
  background: #cce6ff;
  float: center;
  padding: 40px;
  margin-top:40px;
  opacity: 0.9;
  border-color: transparent;

}

#log{
  /*background-image: url(../images/dest1.jpg);*/
  background-image: url(../images/login.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#navlog{
  background: transparent;
}