html, body, form {
	margin: 0;
	padding: 0;
	height: 100%;
	max-width: 2400px;
	font-family: 'Segoe UI';
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.row .col {
	margin-top: 10px;
}