#mainsignup{
  height: 550px;
  width: 400px;
  background: #cce6ff;
  float: center;
  padding: 40px;
  margin-top:40px;
  opacity: 0.9;
  border-color: transparent;

}

#sup{
  /*background-image: url(../images/dest1.jpg);*/
  background-image: url(../images/singup.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#navsign{
  background: transparent;
}