
#tilesContent {
	text-align: center;
	padding-top: 10px;
}

#tilesContent .card {
	width: 300px;
	height: 300px;
	/*float: left;*/
	display: inline-block;
	margin: 8px;
}

#tilesContent .card .card-content {
	width: 100%;
	height: 100%;
	padding: 8px;
}
#tilesContent .card .card-content .imgDiv {
	width: 100%;
	height: 90%;
	background-position: 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.plusMinusIcon {
	position: absolute;
	top: 5px;
	right: 8px;
	width: 40px;
	height: 40px;
	/*background-color: red;*/
}

.plusMinusIcon .btn {
	background-color: white;
	color: black !important;
}

.plusMinusIcon .btn i {
	color: black;
}

#tilesContent .tile {
	transition: 0.2s;
}

#tilesContent .tile.activeTile {
	transform: scale(0.85);
}
/*#tilesContent .card-action{*/
/*width: 100%;*/
/*height: 20px;*/
/*margin: 10px;*/
/*}
#modelbtn{
margin-top: -35px;
}*/